@model List<TechJobsPersistent.Models.Employer>

<div class="container body-content">
            @foreach (Employer employer in Model)
        {
            <p>Name: @employer.Name</p>
            <p>Employer: @employer.Location</p>

        }
</div>

